ADMIN_PASSWORD=replace-this
POSTGRES_PASSWORD=replace-this-too
POSTGRES_USER=treer
POSTGRES_DB=treer
DATABASE_URL=postgres://treer:replace-this-too@postgres:5432/treer
TREER_GHCR_OWNER=evoevolver
TREER_IMAGE_TAG=stable
TREER_UPDATER_TOKEN=replace-with-a-long-random-token
# TREER_GHCR_TOKEN=
TREER_PROXY_PUBLIC_URL=http://127.0.0.1:8787/
TREER_APP_PUBLIC_URL=http://127.0.0.1:3000/
